.language-details-page {
  width: 100%;
  .top-content {
    width: 100%;
    max-width: 1440px;
    margin: 20px auto;
  }
  .row {
    background-color: rgba(0, 128, 0, 0.32);
    width: 100%;
    max-width: 1440px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  .bottom-content {
    width: 100%;
    display: flex;
    justify-content: center;
    .add-row-button {
      margin: 10px;
      width: 300px;
      height: 50px;
      font-size: 17px;
    }
    .save-button {
      margin: 10px;
      width: 300px;
      height: 50px;
      color: white;
      font-size: 17px;
      background-color: #0098e2;
    }
  }
}